.headerInfo {
    top:0;
    margin-top:0em;
    position: fixed;
    width: 100%;
    border-bottom: solid black;
    background-color:  lightgray;
    overflow:hidden;

}

.date {
    color:rgb(91, 95, 100);
    margin-left: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: inline;
}

.logo {
    width: 20%;
    height: 10%;
    margin-left: 40%;

}
.button {
    text-align:right;
    float: right;
    display: inline-flex;   
}


table {
    margin-top: 7em;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 2em;
    width: 75%;
    background-color:white;
}

.articlePubDate {
    padding-bottom: 1em;
}

.articleInfo {
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-bottom: solid gray;
}

.articleTitle {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size:large;
    padding-bottom: 1em;
}

.articleDescription{
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 1em;
}

a {
    color: black;
    text-decoration: none;
}

img {
    height: 200px;
    width: 250px;
}

body {
    background-color: lightgray;
    width:100%;
    margin:0px;
    padding:0px;
}
